.register
  &__head
    color #000
    font-size 20px
    font-family 'Montserrat Bold'
    text-align center
    background #1FC4F4
    padding-top 15px
    padding-bottom 15px

  &__register
    background #E8EBEC
    position relative

  &__register-text
    color #000
    font-size 14px
    font-family 'Montserrat Bold'
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

  &__tips
    width 255px
    text-align center
    font-size 12px
    color #000
    margin 0 auto
    margin-top 40px
    margin-bottom 25px


  &__accord-wrap
    width 100%
    padding 0 25px



