.popular
  padding-bottom 470px

  &__container
    padding 0 20px

  &__discount
    padding 61px 20px 6px

  &__title
    font-family 'Montserrat Bold'
    font-weight 700
    font-size 18px
    line-height 22px
    margin-left 8px
    letter-spacing -0.2px

  &__head
    display flex
    justify-content space-between
    align-items baseline

  &__link
    font-size 9px
    line-height 11px

  &__slider
    margin-top 10px
    background-color #F8F8F8
    padding 3px 0
