.profile
  &__head
    color #000
    font-size 20px
    font-family 'Montserrat Bold'
    text-align center
    background #1FC4F4
    padding-top 15px
    padding-bottom 15px

  &__img
    width 220px
    margin 0 auto
    margin-top 50px
    margin-bottom 45px

  &__container
    width 230px
    margin 0 auto

  &__title
    text-align center
    font-size 18px
    font-family 'Montserrat Bold'
    margin-bottom 25px

  &__text
    font-size 12px
    text-align center

  &__btn-wrap
    margin 0 auto
    width 260px
    margin-top 20px
    margin-bottom 70px

  &__title-reg
    font-size 18px
    font-family 'Montserrat Bold'
    text-align center
    color #000
    margin-top 60px
    margin-bottom 20px

  &__tip
    margin 0 auto
    width 325px
    font-size 12px
    padding 11px 15px 12px 50px
    color #000000
    background  #E7FDEC
    border 1px solid #D3EED9
    position relative

    &:before
      content ''
      position absolute
      width 26px
      height 27px
      background url('../images/tip.png')
      left 12px

  &__accord-wrap
    margin-top 20px
    padding 0 25px