.filter
  position relative
  margin-top -4px

  &__container
    padding 20px 20px 5px

  &__controls
    background #ED9570
    display flex
    justify-content space-between
    align-items center

  &__title
    font-size 20px
    color #101010
    font-family 'Montserrat Bold'

  &__menu
    background #FFCFAC
    display none

  &__reset
    width 100px
    margin-left auto

  &__name
    font-size 9px
    font-family 'Montserrat Bold'
    margin-bottom 6px

  &__categories
    // margin-top -10px

  &__buttons
    display flex
    flex-wrap wrap
    margin-bottom 6px

    button
      margin-right 10px
      margin-bottom 10px
      font-size 9px
