.footer
  background-color #000
  background-image url('../images/footerback.jpg')
  padding-top 29px
  padding-bottom 30px

  &__logo
    width 30px
    height 38px
    margin 0 auto
    margin-bottom 22px

    img
      width 100%

  &__list
    list-style none
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding 0
    margin-bottom 21px

  &__list-item
    line-height 1

    & + &
      margin-top 17px

  &__link
    font-family 'Montserrat Bold'
    text-decoration none
    color #979797
    font-size 9px
    letter-spacing 1.5px
    text-transform uppercase

  &__social
    display flex
    justify-content center
    margin-bottom 35px

    a + a
      margin-left 12px

  &__rights
    padding 0 15px
    display flex
    justify-content space-between
    align-items center

  &__right-text
    font-size 10px
    color #979797

  &__cards
    display flex

  &__card
    & + &
      margin-left 10px
