mixin products()
  +b.SECTION.products
    +e.container
      +e.items

        +b.slide
          +e.hover
            +e.btn-wrap
              button.btn-item В корзину
              button.btn-item В любимое
          +e.card
            +e.head
              +e.icon
                img(src="../assets/images/itemicon.png" width="24px" height="24px")
              +e.price 1,290 ₽
            +e.body
              img(src="../assets/images/cans.png" width="93px" height="121px")
            +e.footer
              +e.text GOLD 400ml Artist Paint

        +b.slide
          +e.hover
            +e.btn-wrap
              button.btn-item В корзину
              button.btn-item В любимое
          +e.card
            +e.head
              +e.icon
                img(src="../assets/images/itemicon.png" width="24px" height="24px")
              +e.price 1,290 ₽
            +e.body
              img(src="../assets/images/cans.png" width="93px" height="121px")
            +e.footer
              +e.text Purple 400ml Artist Paint

        +b.slide
          +e.hover
            +e.btn-wrap
              button.btn-item В корзину
              button.btn-item В любимое
          +e.card
            +e.head
              +e.icon
                img(src="../assets/images/itemicon.png" width="24px" height="24px")
              +e.price 1,290 ₽
            +e.body
              img(src="../assets/images/cans.png" width="93px" height="121px")
            +e.footer
              +e.text Teal 400ml Artist Paint

        +b.slide
          +e.hover
            +e.btn-wrap
              button.btn-item В корзину
              button.btn-item В любимое
          +e.card
            +e.head
              +e.icon
                img(src="../assets/images/itemicon.png" width="24px" height="24px")
              +e.price 1,290 ₽
            +e.body
              img(src="../assets/images/cans.png" width="93px" height="121px")
            +e.footer
              +e.text Dark Deep blue 400ml Artist Paint

      +e.banner
        +b.banner
          +e.closed
            +e.text Не показывать
            button.btn-close#close-banner

      +e.items

        +b.slide
          +e.hover
            +e.btn-wrap
              button.btn-item В корзину
              button.btn-item В любимое
          +e.card
            +e.head
              +e.icon
                img(src="../assets/images/itemicon.png" width="24px" height="24px")
              +e.price 1,290 ₽
            +e.body
              img(src="../assets/images/cans.png" width="93px" height="121px")
            +e.footer
              +e.text GOLD 400ml Artist Paint

        +b.slide
          +e.hover
            +e.btn-wrap
              button.btn-item В корзину
              button.btn-item В любимое
          +e.card
            +e.head
              +e.icon
                img(src="../assets/images/itemicon.png" width="24px" height="24px")
              +e.price 1,290 ₽
            +e.body
              img(src="../assets/images/cans.png" width="93px" height="121px")
            +e.footer
              +e.text Purple 400ml Artist Paint

      +e.pagin-wrap
        +b.pagination
          +e.wrapper
            button.btn-pagination.prev
            button.btn-pagination 1
            button.btn-pagination.active 2
            button.btn-pagination 3
            button.btn-pagination ...
            button.btn-pagination 9
            button.btn-pagination.next

