.products
  &__container
    padding-top 26px
    padding-left 25px
    padding-bottom 34px

  &__items
    display flex
    flex-wrap wrap
    .slide
      margin-bottom 5px

  &__banner
    margin-top 25px
    margin-bottom 25px

  &__pagin-wrap
    margin-top 45px
