.main-content
  &__container
    padding 24px 25px 0

  &__container-stock
    padding 24px 25px 80px

  &__category
    display flex
    flex-wrap wrap

  &__item
    width 160px
    height 208px
    // margin auto
    margin-bottom 5px

    &:nth-child(even)
      margin-left 5px

    &--color
      background url('../images/color.png')

    &--marker
      background url('../images/marker.png')

    &--clothes
      background url('../images/clothes.png')

    &--books
      background url('../images/books.png')

  &__item-head
    width 100%
    height 48px
    padding 6px 10px
    background rgba(6, 6, 6, 0.8)

  &__item-text
    color #fff
    font-size 13px
    line-height 16px
    text-transform uppercase
    font-family 'Montserrat Bold'
    letter-spacing 0.3px

.stock
  &__item
    width 100%
    height 120px
    padding-top 16px
    display flex
    flex-direction column
    align-items center

    & + &
      margin-top 5px

    &--red
      background #E2635A

    &--blue
      background #1FC4F4

  &__title
    font-family 'Montserrat Bold'
    font-size 14px
    line-height 17px
    text-align center
    margin-bottom 5px

  &__icon
    width 24px
    height 24px
    margin-bottom 10px

  &__text
    font-size 10px
    line-height 12px
    text-align center
    width 245px
