.input-reg
  border 1px solid #434343
  width 100%
  padding 10px 10px 8px
  placeholder-color(#979797)
  font-size 12px

.btn
  display flex
  width 60px
  height 60px
  justify-content center
  border-radius 0
  outline none !important
  position relative

  img
    align-self center

  &:hover
    background #1FC4F4

  &.active
    background #1FC4F4

  &.activef
    background #EFEFEF

  &.click:active
    background #efefef

  &.favorite
    width 50px
    height 48px
    background-color #000
    border none
    outline none
    background-image url('../images/likebtn.png')
    background-position center
    background-repeat no-repeat



  &.addToCart
    width 265px
    height 48px
    border none
    outline none
    background #1FC4F4
    font-size 9px
    font-family 'Montserrat Bold'
    letter-spacing 0.3em

  &.register
    font-size 9px
    font-family 'Montserrat Bold'
    letter-spacing 0.3em
    background #1FC4F4
    width 100%
    border none
    outline none
    display flex
    align-items center
    text-decoration none
    color #000000

  &.next
    background #E8EBEC
    width 165px
    height 48px
    border none
    outline none
    font-size 11px
    font-family 'Montserrat Bold'

  &.look
    background #1FC4F4
    height 48px
    width 165px
    border none
    outline none
    font-size 11px
    font-family 'Montserrat Bold'

  &--text
    flex-direction row-reverse
    background none
    border none
    white-space nowrap
    font-size 9px
    line-height 20px
    width 120px
    height 20px
    cursor pointer

    img
      margin-right 10px

    &:hover
      opacity 0.6

  .cart
    font-family 'Acme'
    position absolute
    width 16px
    height 16px
    background #1FC4F4
    color #000
    font-size 9px
    border-radius 50%
    right 13px
    top 15px
    padding-left 6px
    padding-top 2px

.btn-outline
  background #fff
  border 1px solid #DADADA
  padding 5px 9px
  outline none !important
  cursor pointer

  &.active
    background #1FC4F4;

  &:hover
    opacity 0.6

.btn-item
  width 125px
  height 40px
  background #fff
  border 1px solid #000
  font-size 9px
  font-family 'Montserrat Bold'
  text-transform uppercase
  letter-spacing 1.5px

.btn-close
  width 16px
  height 16px
  background none
  border 1px solid #dadada
  position relative
  cursor pointer
  background url('../images/xicon.png') no-repeat center

.link-vk
  display block
  width 25px
  height 25px
  background url('../images/vkicon.png') no-repeat center

  &--white
    width 32px
    height 32px
    background url('../images/vkicon2.png') no-repeat center

.link-instagram
  display block
  width 25px
  height 25px
  background url('../images/instaicon.png') no-repeat center

  &--white
    width 32px
    height 32px
    background url('../images/instaicon2.png') no-repeat center

input#search
  border none
  background none
  width 100%
  color #000
  font-size 10px
  line-height 13px
  outline none

input[type="search"]::-webkit-input-placeholder { color: #000; }
input[type="search"]:-ms-input-placeholder { color: #000; }
input[type="search"]::-ms-input-placeholder { color: #000; }
input[type="search"]::placeholder { color: #000; }

.slide
  width 160px
  height 220px !important
  padding 10px 10px 10px 10px
  background #FFFFFF
  border 1px solid #E5E5E5
  position relative
  margin-right 5px


  &--new
    &:before
      content ''
      position absolute
      width 24px
      height 24px
      background url('../images/newicon_slide.png')
      right 13px
      top 34px

  // &:hover
  //   .slide__hover
  //     opacity 1

  &__hover
    transition all 0.3s ease
    opacity 0
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background rgba(0, 0, 0, 0.8)
    z-index 2

  &__btn-wrap
    display flex
    flex-direction column
    padding 0 17px
    margin-top 67px

    button + button
      margin-top 10px

  &__head
    display flex
    justify-content space-between

  &__card
    height 100%
    display flex
    flex-direction column
    justify-content space-between

  &__price
    font-family 'Oswald Regular'
    font-size 16px
    line-height 24px
    font-weight 600
    position relative

    &--new
      &:before
        content '1,290 ₽'
        font-family 'Oswald Regular'
        position absolute
        color #E2635A
        font-size 10px
        text-decoration line-through
        left -35px
        top 2px

  &__icon
    width 24px
    height 24px

  &__body
    margin-top 11px
    margin-bottom 8px
    display flex
    justify-content center


  &__text
    text-align center
    font-size 10px
    line-height 12px
    position relative
    margin-bottom 13px

    &--like
      &:before
        content ''
        width 9px
        height 8px
        position absolute
        background url('../images/like.png')
        left 11px

.banner
  width 325px
  height 129px
  background url('../images/banner.jpg') no-repeat center
  background-size cover
  position relative
  padding 7px 8px

  &__closed
    display flex
    justify-content flex-end
    align-items center
    align-self center

  &__text
    font-size 6px
    margin-right 5px


.pagination
  &__wrapper
    margin 0 auto
    width 280px
    height 40px
    display flex

    button + button
      margin-left -1px

.btn-pagination
  width 40px
  height 40px
  border 1px solid #dadada
  background none
  outline none !important
  cursor pointer
  color #000000
  background #fff
  font-size 12px

  &:hover
    opacity .6

  &.active
    color #ffffff
    background #000

  &.prev
    background-image url('../images/arrowicon.png')
    background-repeat no-repeat
    background-position center

  &.next
    background-image url('../images/arrowicon.png')
    background-repeat no-repeat
    background-position center
    transform scale(-1, 1)

.slick-dots li button:before
  font-size 25px !important

.slick-dots li.slick-active button:before
  color #1FC4F4 !important

.slick-next:before, .slick-prev:before
  color #000 !important

.slick-prev
  left -32px !important
  top 110px !important

.slick-next
  right -25px!important
  top 110px!important

.slick-prev:before
  content '' !important
  background url('../images/arrprev.png') !important
  width 9px !important
  height 18px !important
  position absolute !important

.slick-next:before
  content '' !important
  background url('../images/arrprev.png') !important
  width 9px !important
  height 18px !important
  position absolute !important
  transform rotate(180deg) !important

.slick-dots li
  margin 0  !important

.reg-accord
  &__input-wrap
    & + &
      margin-top 20px

  &__btn-wrap-body
    margin-top 20px
    width 165px
    margin-left auto

  &__body
    padding-top 15px
    padding-bottom 15px
    display none

  &__title
    cursor pointer
    text-transform uppercase
    font-size 14px
    font-weight 600
    font-family 'Montserrat Regular'
    color #000
    padding-bottom 10px
    padding-top 10px
    border-top 1px solid #DADADA
    padding-left 20px
    position relative

    & + &
      margin-top -1px

    &:before
      content '-'
      position absolute
      left 0px

    &.active
      color #1FC4F4

      &:before
        content '+'